<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Comparative analysis</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" />
        <script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>
        <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>

        <!-- support for esri layers -->
        <script src="http://cdn.jsdelivr.net/leaflet.esri/1.0.0/esri-leaflet.js"></script>



        <!-- bootstrap style -->
        {{include 'default/header-css.html'}}

        <!-- map style -->
         <style type="text/css">
            #map { 
                height: 380px; 
                width: 100%;
            }
         </style>

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        {{include 'default/topbar.html'}}   

        <!-- map element -->
        <section>
            <div id="map"></div>
        </section>

        <article class='container'>
            <!-- tab index -->
            <ul class='nav nav-tabs' role='tablist'>
                <li class='active'><a href='#realm-biome' data-toggle='tab'>Realm-Biome</a></li>
                <li><a href='#biodiv' data-toggle='tab'>Biodiversity Hotspot</a></li>
                <li><a href='#kba' data-toggle='tab'>Key Biodiversity Areas</a></li>
            </ul>

            <!-- tab content -->
            <div class='tab-content'>

            {{is_first_panel=True}}
            {{counter = 1}}

            {{for unit in [rb, hs, kba]:}}

                {{if counter == 1:}}
                    {{unit_id = 'realm-biome'}}
                    {{unit_heading = 'Realm-Biome'}}
                    {{unit_exp = P('A large spatial region, within which ecosystems share a broadly similar biota. More information can be found ', A('at the Biodiversity a-z website', _target='blank', _href='http://www.biodiversitya-z.org/content/biogeographic-realm'))}}
                    
                {{elif counter == 2:}}
                    {{unit_id = 'biodiv'}}
                    {{unit_heading = 'Biodiversity Hotspot'}}
                    {{unit_exp = P('Large regions containing exceptional concentrations of plant endemism and experiencing high rates of habitat loss. More information can be found ',A('at the Biodiversity a-z website', _target='blank', _href = 'http://www.biodiversitya-z.org/content/biodiversity-hotspots'))}}

                {{else:}}
                    {{unit_id = 'kba'}}
                    {{unit_heading = 'Key Biodiversity Areas (non-avian)'}}
                    {{unit_exp = P('Sites contributing significantly to the global persistence of biodiversity. They represent the most important sites for biodiversity conservation worldwide, and are identified nationally using globally standardised criteria and thresholds. More information can be found ', A('at the Biodiversity a-z website', _target='blank', _href ='http://www.biodiversitya-z.org/content/key-biodiversity-areas-kba'))}}
                {{pass}}

                {{counter += 1}}

                {{if is_first_panel:}}
                <section class='tab-pane active' id='{{=unit_id}}'>
                    {{is_first_panel=False}}
                {{else:}}
                <section class='tab-pane' id='{{=unit_id}}'>
                {{pass}}

                    <!-- for each unit with in tab-->
                    {{=H2(unit_heading)}}

                    <div class='row'>
                        <div class='col-sm-12 brief-description'>
                            {{=unit_exp}}
                        </div>
                    </div>

                    <!-- main content -->
                    {{# check the returned dictionary, if not empty list out DIVs}}

                    {{if len(unit)==0:}}
                        {{=P('Does not overlap with any {}'.format(unit_heading))}}
                    {{else:}}

                        <div class='row'>
                            <div class='col-sm-12'>
                            <!-- for each realmbiome accordion style-->
                                <div class='panel-group' id='{{=unit_id+ "-accordion"}}'>

                                {{for bid in unit.keys():}}
                                    <div class="panel panel-default">
                                        <!-- index -->
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent='#{{=unit_id+ "-accordion"}}' href="#{{=IS_SLUG()(bid)[0]}}" class='bid-header-container'>
                                                    {{=P(bid)}}
                                                    {{=SPAN(len(unit[bid]), _class='badge wh-badge')}}
                                                </a>
                                            </h4>
                                        </div>

                                        <!-- content -->
                                        <div id="{{=IS_SLUG()(bid)[0]}}" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                {{if len(unit[bid])==0:}}
                                                    {{=P('{} does not have any World Heritage site'.format(bid))}}
                                                {{else:}}
                                                    {{=UL(*[LI(div, _class='list-group-item wh-site') for div in unit[bid]], _class='list-group wh-group')}}
                                                {{pass}}
                                            </div>
                                        </div>
                                    </div>
                                {{pass}}
                                <!-- for each end -->
                                </div>


                            </div>

                        </div>


                    {{pass}}
                </section>

            {{pass}}
            </div>




        </article>

        {{include 'default/footer.html'}}

        {{include 'default/bottom-js.html'}}

        <!-- dotdotdot after jquery-->
        <script type="text/javascript" src='{{=URL('static', 'js/jquery.dotdotdot.min.js')}}'></script>
        <script type="text/javascript">

            $(document).ready(function(){
                $('.wh-name-holder').dotdotdot({
                    ellipsis: '...',
                    height: 50

                });
            })

        </script>


        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
        //     (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        //     function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        //     e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        //     e.src='//www.google-analytics.com/analytics.js';
        //     r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        //     ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

        <script type="text/javascript">

            $(document).ready(function(){
                // js snippet for reuseability
                var b_toner = new L.StamenTileLayer("toner");
                var b_watercolor = new L.StamenTileLayer("watercolor");

                // additional base layers
                var Thunderforest_Landscape = L.tileLayer('http://{s}.tile.thunderforest.com/landscape/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="http://www.opencyclemap.org">OpenCycleMap</a>, &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                });

                var Esri_WorldStreetMap = L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer/tile/{z}/{y}/{x}', {
                    attribution: 'Tiles &copy; Esri &mdash; Source: Esri, DeLorme, NAVTEQ, USGS, Intermap, iPC, NRCAN, Esri Japan, METI, Esri China (Hong Kong), Esri (Thailand), TomTom, 2012'
                });


                var Esri_NatGeoWorldMap = L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/NatGeo_World_Map/MapServer/tile/{z}/{y}/{x}', {
                    attribution: 'Tiles &copy; Esri &mdash; National Geographic, Esri, DeLorme, NAVTEQ, UNEP-WCMC, USGS, NASA, ESA, METI, NRCAN, GEBCO, NOAA, iPC',
                    maxZoom: 16
                });

                // default start map
                var mapl = new L.Map("map", {
                    layers: [Esri_WorldStreetMap]
                });

                // base maps
                var baseMaps = {
                    'Esri-worldstreet': Esri_WorldStreetMap,
                    'Esri-natgeo': Esri_NatGeoWorldMap,
                    'Thuderfront-landscape': Thunderforest_Landscape,
                    "Stamen-toner": b_toner,
                    "Stamen-watercolor": b_watercolor

                };
                        
                // control for basemaps and other layers
                L.control.layers(baseMaps).addTo(mapl);


                // add a local geojson layer: access control allow-origin 
                $.get('{{=URL('geoapi', 'tempgeom', request.args[0])}}', function(data){
                    var tempgeom = new L.geoJson(data);
                    console.log(data);

                    mapl.addLayer(tempgeom);
                    maxbounds = tempgeom.getBounds();
                    mapl.fitBounds(maxbounds);
                    mapl.setMaxBounds(maxbounds);
                    mapl.zoomOut();
                })

                })


        </script>


    </body>
</html>