<footer>
    <!-- here is the copy right, institue log etc -->
    <div class='container ca-footer'>
    	<div class='row'>
    		<!-- left -->
    		<div class='col-sm-6 col-xs-12 col-left'>
    			<p>hello</p>
    		</div>
    		<!-- right -->
    		<div class='col-sm-6 col-xs-12 col-right'>
    			<div class='logo-holder'>
    				<a href=''>{{=IMG(_src=URL('static', 'images/iucn-white.png'))}}</a>
    				<a href=''>{{=IMG(_src=URL('static', 'images/wcmc-white.png'))}}</a>
    			</div>    			
    		</div>
    	</div>
    </div>

</footer>
