<!DOCTYPE html>
<meta charset="utf-8">
<head>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>
<body>

<button type="button" id="mybutton" data-loading-text="Loading..." class="btn btn-primary" autocomplete="off">
  post
</button>
<h1> Helloworld</h1>
<div id='mydiv'><div>

<script type="text/javascript">
$(document).ready(function(){

		  $('#mybutton').on('click', function () {
		  	// console.log(mapl);

				$.post( "api.json", {'a':1, 'b':2}, function( data ) {
				  // data is already a JSON object
				  // if not it needs to be parsed
				  // $.parseJSON('{"a": 2}')

				  // debug
				  console.log(data);
				  // $( "#mydiv" ).html(data);

				  // JSON.stringify converts a json object to a string
				  var out = JSON.stringify(data);
				  $( "#mydiv" ).html(out);
				});

});

});

	
</script>

</body>
</html>