<!DOCTYPE html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- leaflet js library -->
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>
<script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>

<!-- draw control -->
<script src="{{=URL('static', 'js/leaflet.draw.js')}}"></script>
<link rel="stylesheet" href = "{{=URL('static', 'js/leaflet.draw.css')}}"/>

<!-- support for esri layers -->
<script src="http://cdn.jsdelivr.net/leaflet.esri/1.0.0/esri-leaflet.js"></script>

<!-- shepherd -->
<link rel='stylesheet' href="{{=URL('static', 'css/shepherd-theme-arrows.css')}}">

<!-- bootstrap style -->
{{include 'default/header-css.html'}}

<!-- map style -->
<style type="text/css">
 #map {
 	height: 580px;
 	width: 100%;
 }

 /* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}
</style>

</head>
<body>
{{include 'default/topbar.html'}}   

<!-- the map -->
<div class='container-fluid'>
	<div id="map"></div>
</div>

<article class='container'>
	<main>
	<section class='row'>
	<!-- instructions on how to use the map controls -->
	<!-- TO BE ADDED HERE -->
		
	</section>	

	<section class='row button-row'>
	<!-- buttons to submit to server -->
		<button type="button" id="btn-save" data-loading-text="Loading..." class="btn btn-primary submit-button" autocomplete="off">
			Submit boundary
		</button>

		<button type="button" id="btn-clear" data-loading-text="Loading..." class="btn btn-primary submit-button" autocomplete="off">
		  Clear map
		</button>

		<button type="button" id="btn-how" data-loading-text="Loading..." class="btn btn-primary submit-button" autocomplete="off">
		  How to
		</button>
	</section>

	</main>

</article>

<div id='result'></div>

{{include 'default/footer.html'}}

<div class="modal"><!-- Place at bottom of page --></div>

{{include 'default/bottom-js.html'}}


<!-- shepherd -->
<script src="{{=URL('static', 'js/tether.min.js')}}"></script>
<script src="{{=URL('static', 'js/shepherd.min.js')}}"></script>

<script>

	var start_tour = function(){
		var tour;

		tour = new Shepherd.Tour({
		  defaults: {
		    classes: 'shepherd-theme-arrows shepherd-element',
		    scrollTo: true
		  }
		});

		// conrols
		tour.addStep('controls', {
			title: 'Here are the drawing tools',
			text: 'Click to enable drawing. Once you have finished you can double click to complete the drawing',
			attachTo: '.leaflet-top.leaflet-left right',
			buttons: [
			{
				text: 'Next',
				action: tour.next
			}]
		});

		// submit
		tour.addStep('Step-submit', {
	      title: 'When you are done, submit your boundary to the system',
		  text: 'The polygon is sent to the system and the comparative analysis will commence on our server. Once this is finished, you will be redirected to the result page. If you have submitted a very complex boundary, it may take some time for the system to respond.',
		  attachTo: '#btn-save top',
		  buttons: [
			{
		      text: 'Back',
		      action: tour.back
		    },{
		      classes: 'shepherd-button-ca',
		      text: 'Next',
		      action: tour.next
		    }
		  ]
		});

		// clear
	    tour.addStep('Step-clear', {
	      title: 'Clear the drawn polygon',
	      text: 'Lastly if you need to clear the boundary, this button resets the drawing canvas so you can start drawing from the beginning',
	      attachTo: '#btn-clear top',
	      buttons: [
	        {
	          text: 'Back',
	          action: tour.back
	        }, {
	          text: 'Done',
	          action: tour.next
	        }
	      ]
	    });

	    // start
		tour.start();

	};

</script>


<!-- map draw and data submit-->
<script>
    $(document).ready(function(){
        // js snippet for reuseability
        var b_toner = new L.StamenTileLayer("toner");
        var b_watercolor = new L.StamenTileLayer("watercolor");

        // additional base layers
        var Thunderforest_Landscape = L.tileLayer('http://{s}.tile.thunderforest.com/landscape/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://www.opencyclemap.org">OpenCycleMap</a>, &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        });

        var Esri_WorldStreetMap = L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer/tile/{z}/{y}/{x}', {
            attribution: 'Tiles &copy; Esri &mdash; Source: Esri, DeLorme, NAVTEQ, USGS, Intermap, iPC, NRCAN, Esri Japan, METI, Esri China (Hong Kong), Esri (Thailand), TomTom, 2012'
        });


        var Esri_NatGeoWorldMap = L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/NatGeo_World_Map/MapServer/tile/{z}/{y}/{x}', {
            attribution: 'Tiles &copy; Esri &mdash; National Geographic, Esri, DeLorme, NAVTEQ, UNEP-WCMC, USGS, NASA, ESA, METI, NRCAN, GEBCO, NOAA, iPC',
            maxZoom: 16
        });

        // default start map
        var mapl = new L.Map("map", {
            layers: [Esri_WorldStreetMap],
            attributionControl: false
        });

        // base maps
        var baseMaps = {
            'Esri-worldstreet': Esri_WorldStreetMap,
            'Esri-natgeo': Esri_NatGeoWorldMap,
            'Thuderfront-landscape': Thunderforest_Landscape,
            "Stamen-toner": b_toner,
            "Stamen-watercolor": b_watercolor

        };


		//locate current location
		mapl.locate({setView: true, maxZoom: 16});

		// esri maps
		var wh = L.esri.featureLayer({url: 'http://services5.arcgis.com/Mj0hjvkNtV7NRhA7/arcgis/rest/services/WH_2015/FeatureServer/0'}).addTo(mapl);

		var featureMaps = {
			'Natural World Heritage sites': wh
		};

		// control for basemaps and other layers
		L.control.layers(baseMaps, featureMaps).addTo(mapl);

		// attribution
		// var attrs = new L.control.attribution({'prefix':'false'});

		// add empty feature group for holding drawn items
		var drawnItems = new L.FeatureGroup();
		mapl.addLayer(drawnItems);

		// Initialise the draw control and pass it the FeatureGroup of editable layers
		var drawControl = new L.Control.Draw({
		    edit: {
		        featureGroup: drawnItems
		    },
		    draw: {
		    	polyline: false,
		    	marker: false,
		    	circle: false
		    }
		});
		mapl.addControl(drawControl);


		// once draw complete
		mapl.on('draw:created', function(e) {
		    var type = e.layerType,
		        layer = e.layer;

		    // Do whatever else you need to. (save to db, add to map etc)
		    // map.addLayer(layer);
		    drawnItems.addLayer(layer);

		    // console.log(map)
		});

		// buttons for adding and removing feature layers
			// add to a new fg 
		  var geojson_fg = new L.FeatureGroup();
		  mapl.addLayer(geojson_fg);

		  $('#btn-save').on('click', function () {
		  	// add a waiting circle
		  	$body = $('body');
			$body.addClass("loading"); 

		  	// testing geojson layer
		  	var fgeojson = drawnItems.toGeoJSON();
		  	// setTimeout(function(){}, 5000);
		  	drawnItems.clearLayers(); //get rid of all previous layers in the drawnItems.

		  	// load geojson back to map
		  	layer = L.geoJson(fgeojson);
		  	geojson_fg.addLayer(layer);

		  	mapl.addLayer(geojson_fg);


		  	// JSON.stringify converts an json object to a string presentation. This is then sent to the server. It will be the key (of the key-vale pair) of the resulting form submission
		  	$.ajax({url:'{{=URL('geoapi')}}', 
		  		data:JSON.stringify(fgeojson),
		  		type: "POST", 
			  	success:function(data){
		
			  		console.log(data);

			  		$body.removeClass("loading"); 
			  		$('#result').html(data);

			  		if (Number(data)){
				  		// redirection
				  		window.location.href = "{{=URL('comparative_analysis')}}"+ '/' + data;
			  		} else {
			  			$('#result').html('no data submitted');
			  		};
			  		// alert('success');
			  		
			  	}, error:function(){

			  		$body.removeClass("loading"); 
			  		$('#result').html('Error occurred');

			  	}, timeout: 10000

		  	});

		  })

		  $('#btn-clear').on('click', function () {
		  	drawnItems.clearLayers(); //get rid of all previous draw layers.
		  	geojson_fg.clearLayers();

		  	})

		  $('#btn-how').on('click', function(){
		  	start_tour();
		  	
		  })
		  // once the map has intialised

		})
</script>


</body>
</html>