<nav class='navbar navbar-default ca-top-container'>
	<div class='container ca-top-bar'>
		<div class='navbar-left'>
		<a href='{{=URL("welcome")}}' class='anchor-logo'>
			<h3 class='logo-text'>{{=IMG(_class='logo', _src=URL('static', 'images/iucn-white-logo.png'), \
			_srcset=', '.join([URL('static', 'images/iucn-white-logo@2x.png') + ' 2x', \
			URL('static', 'images/iucn-white-logo@3x.png') + ' 3x']))}}Global Comparative Analysis Online&nbsp;</h3>
		</a>
		</div>

		<div class='navbar-right navbar-text'>
			<p>prototype version</p>
		</div>

	</div>
</nav>