<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>World Heritage Comparative Analysis</title>

    {{include 'default/header-css.html'}}

  </head>
  <body>
    {{include 'default/topbar.html'}}   
    <!-- in order to make it full width -->
    <section class='jumbotron'>
        <div class='container'>
            <div class='page-header'>
                {{=H1('Welcome to IUCN Global Comparative Analysis Online')}}
            </div>
            {{=P('Explore gaps and comparisons with biodiversity World Heritage sites')}}
            {{=A(P('Start'), _href=URL('submit_boundary'), _class='btn btn-primary btn-lg start-button', _role='button')}}           
        </div>
    </section>

    <article class='container'>
    <!-- <div class='container-fluid'> -->
    <main>
        <div class='row'>
            <section class='col-sm-6'>
                {{=H2('About')}}
                {{=P('This is a prototype developed by IUCN to undertake global comparative analyeis for biodiversity World Heritage nominations online. The tool will enable any interested parties to carry out an initial evaluation of their proposed biodiversity site on their own, empower non specialist to understand the logicall comparison framework, and potentially reduce the risk of unsuitabe sites being submitted.')}}
                {{=P('At the moment, this proof of concept product only allows the comparison of examples of global biogeography, identified broad conservation priorities, and important sites that are of great biodiversity values')}}
            </section>

            <section class='col-sm-6'>
                {{=H2('Caveats')}}
                {{=P('The gaps identified and World Heritage sites found in the same biogeographical regions, priorites and sites of biodiversity values only indicate a spatially overlapping relationship based on the underlying data, which can help to identify under-represented areas and guide the search of potential nominations. This does not imply the identification of any Outstanding Universal Values (OUV) that a successful World Heritage nomination would need to demonstrate. For this purpose, a rigourous, comprehensive comparative analysis must be undertaken, taking into consideration all information beyond geospatial analyses')}}
            </section>
        </div>

        <div class='row'>
            <section class='col-sm-6'>
                {{=H2('Acknowledgement')}}
                {{=P('We thank UNESCO for funding the development of this prototype and UNEP World Conservation Monitoring Centre for design and technical support. XXX(TBA)')}}
            </section>

            <section class='col-sm-6'>
                {{=H2('Contact us')}}
                {{=P('For enquiries please email XXX@iucn.org')}}
            </section>
        </div>

        </article>
    </main>

    {{include 'default/footer.html'}}   

    {{include 'default/bottom-js.html'}}
  </body>
</html>