<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>World Heritage Spatial Comparative Analysis</title>

    {{include 'default/header-css.html'}}

  </head>
  <body>
    {{include 'default/topbar.html'}}   
    <!-- in order to make it full width -->
    <section class='jumbotron'>
        <div class='container'>
            <div class='page-header'>
                {{=H1('Welcome to Global Comparative Analysis Online')}}
            </div>
            {{=P('Explore gaps and comparisons with biodiversity World Heritage sites')}}
            {{=A(P('Start'), _href=URL('submit_boundary'), _class='btn btn-primary btn-lg start-button', _role='button')}}           
        </div>
    </section>

    <article class='container'>
    <!-- <div class='container-fluid'> -->
    <main>
        <div class='row'>
            <section class='col-sm-6'>
                {{=H2('About')}}
                {{=P('The spatial comparative analysis online prototype (the ‘Prototype’) is a proof-of-concept online web application that provides a first screening of comparable sites and identifies broad scale gaps, according to datasets of widely agreed global biogeographical classifications and biodiversity conservation priorities. The tool will enable any interested parties to carry out an initial evaluation of their proposed biodiversity site on their own. It empowers non specialists so that they understand the logical comparison framework and have the tools to test their own draft nominations, and it is our hope that by doing so, it potentially reduces the risk of unsuitable sites being submitted and saves valuable resources')}}
                {{=P('At the moment, this proof of concept product only allows the comparison of samples of global biogeography, broad conservation priorities, and important sites that are of great biodiversity values')}}
            </section>

            <section class='col-sm-6'>
                {{=H2('Caveats')}}
                {{=P('First and foremost, gaps identified in the same biogeographical regions, priorities and sites of biodiversity values by the Prototype, only indicate a spatially overlapping relationship based on the underlying sample datasets. While this can help to identify under-represented areas and guide the search of potential nominations, it does not imply by any means the identification of Outstanding Universal Values (OUV) that a successful World Heritage nomination would need to demonstrate. For this purpose, a rigourous, comprehensive comparative analysis must be undertaken, taking into consideration all information beyond geospatial analyses. The Prototype is meant for the geospatial analysis only.')}}
                {{=P('The Prototype considers only three sample datasets, which is a fraction of the 20+ comparisons IUCN uses in its desktop geospatial analysis, and therefore does not present comprehensively a balanced picture of priorities and biogeography. The spatial analysis undertaken by the Prototype is also a simplified version of the desktop geospatial analysis, where an overlap is only considered if it is more than 5% in area. It is to ensure that any ‘false positives’ are removed. However, this is not achieved in the Prototype due to limited development time and insufficient server capacity.')}}
            </section>
        </div>

        <div class='row'>
            <section class='col-sm-6'>
                {{=H2('Acknowledgement')}}
                {{=P('We thank UNESCO for funding the development of the Prototype and UNEP World Conservation Monitoring Centre for design and technical assistance.')}}
            </section>

            <section class='col-sm-6'>
                {{=H2('Contact us')}}
                {{=P('For enquiries please email ', A('yichuan.shi@iucn.org', _href='mailto:yichuan.shi@iucn.org?subject=CA%20enquiry'))}}
            </section>
        </div>

        </article>
    </main>

    {{include 'default/footer.html'}}   

    {{include 'default/bottom-js.html'}}
  </body>
</html>